* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	padding: 30px;
	font-family: 'Handlee', sans-serif;
	font-size: 40px;
	letter-spacing: 4px;
	text-align: center;
}

.intro {
	text-align: center;
}

.projects {
	padding-top: 20px;
	text-align: center;
}

.projects h1 {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: #333;
}

h3 {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-family: 'Handlee', sans-serif;
}

main {
	flex: 1;
}
body {
	font-family: 'Hind', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #ffffff;
}

.header .logo {
	font-family: 'Handlee', cursive;
	font-size: 24px;
	font-weight: bold;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 15px;
}

.nav-link {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.p-gray {
	color: gray;
	text-align: center;
}

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	table-layout: fixed;
}

.project-item {
	border: 1px solid #000;
	vertical-align: top;
}

.first-ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.first-li {
	border-bottom: 1px solid #000;
	padding: 10px;
	padding-left: 20px;
}

.padding {
	padding: 10px;
	padding-left: 20px;
}

.padding-courses {
	padding-left: 20px;
	padding-bottom: 5px;
}

.reviews {
	margin: 0 auto;
	table-layout: fixed;
	padding-top: 20px;
	padding-bottom: 50px;
}

.reviews .review {
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 0 20px;
}

.review-item {
	border: 1px solid #000;
	padding: 20px;
	border-radius: 30px;
	text-align: center;
	flex: 0 1 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 14px;
}

.articles {
	text-align: center;
}

.articles h1 {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
	margin-bottom: 50px;
	color: #333;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.contact h1 {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
	margin-bottom: 50px;
	color: #333;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;

	margin: 0 auto;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #fff;
}

.contact-form div {
	display: flex;
	align-items: center;
}

.contact-form label {
	width: 80px;
	margin-right: 10px;
	text-align: left;
}

.contact-form input,
.contact-form textarea {
	flex: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form button {
	width: 100px;
	margin-top: 20px;
	background-color: #007bff;
	color: #fff;
	font-size: 18px;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-form button:hover {
	background-color: #0056b3;
}
.footer {
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	font-family: 'Handlee', sans-serif;
	font-weight: 700;
}
/* Responsive Design */
@media (max-width: 768px) {
	.header {
		align-items: flex-start;
	}

	.nav-list {
		flex-direction: column;
		gap: 10px;
	}
	.reviews {
		gap: 20px;
		width: 100%;
		margin: 0 auto;
		table-layout: fixed;
		height: auto;
	}
}

@media (max-width: 480px) {
	.header {
		text-align: center;
	}

	.nav-list {
		width: 100%;
	}

	.reviews {
		width: 100%;
		height: auto;
	}
}
